---
import Layout from "../layouts/Layout.astro";
import Frame from "../components/Frame.astro";
import { getComponents } from "../utils/components";

const components = getComponents();
---

<Layout title="Welcome to Astro.">
  <main class="mx-auto max-w-5xl flex flex-col gap-y-10 py-20">
    {
      components.map((component) => {
        return <Frame {...component} />;
      })
    }
  </main>
</Layout>
