---
import type { Component } from "../utils/components";

export type Props = {} & Component;

const { name } = Astro.props;
---

<div class="rounded-xl border">
  <iframe src={`/components/${name}`}></iframe>
</div>
