---
import type { Story } from "../utils/components";

export type Props = {} & Story;

const { filename } = Astro.props;
---

<div class="rounded-xl border">
  <iframe src={`/components/${filename}`}></iframe>
</div>
